---
If:
  PathMatch: "firmware/components/drd/.*"
CompileFlags:
  CompilationDatabase: firmware/components/drd/build/Debug
---

If:
  PathMatch: "firmware/components/mdi/.*"
CompileFlags:
  CompilationDatabase: firmware/components/mdi/build/Debug

---
If:
  PathMatch: "firmware/components/tel/.*"
CompileFlags:
  CompilationDatabase: firmware/components/tel/build/Debug
---
If:
  PathMatch: "firmware/components/aerosensor/.*"
CompileFlags:
  CompilationDatabase: firmware/components/tel/build/Debug
---
If:
  PathMatch: "firmware/common/.*"
CompileFlags:
  CompilationDatabase: firmware/components/drd/build/Debug